.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: fit-content;
  height: fit-content;
  border: 3px solid black;
  box-shadow: 0 0 1.3rem rgba(0, 0, 0, 0.3);
}
.gameView {
  display: grid;
}
.player {
  padding: 0.3rem;
  font-size: 1.2rem;
}
.board--rotate {
  transform: scale(-1);
}
.board--rotate > * {
  transform: scale(-1);
}
.gameEndBox {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border: 1px solid black;
  background-color: #fff;
  box-shadow: 0 0 3rem black;
}
